@import "tailwindcss";
:root {
  --spacing: 0.25rem;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Inter, sans-serif;
  background: #f7f4f2;
  color: #1f1f1f;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

input,
textarea,
select,
button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker {
  border: none !important;
  border-radius: 24px !important;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15) !important;
  font-family: inherit !important;
}

.react-datepicker__header {
  background: linear-gradient(to right, #ec4899, #f472b6) !important;
  border-bottom: none !important;
  padding-top: 16px !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
  font-weight: 600 !important;
}

.react-datepicker__day {
  border-radius: 999px !important;
  transition: all 0.2s ease !important;
}

.react-datepicker__day:hover {
  background-color: #fbcfe8 !important;
}

.react-datepicker__day--selected {
  background-color: #ec4899 !important;
  color: white !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker-popper {
  z-index: 99999 !important;
}
